*{
	margin: 0; padding: 0; box-sizing: border-box;
	font-family: 'Alkatra', cursive;
	font-family: 'Josefin Sans', sans-serif;
	background-image:url(pic1.jpeg);
}
h1{
	color:brown;
	font-size:50px;
	margin-left:20px;
	margin-top:20px;
}
.photo{
	margin-left:30%;
	margin-right:40%;
	margin-top:20px;
	margin-bottom:25px;
}
.info{
	margin-left:20px;
	margin-right:10px;
	color:maroon;
	font-size: 33px;
	font-size: 33px;
	text-align:center;
}